<h1>Toppage#index</h1>
<p>Find me in app/views/toppage/index.html.erb</p>

<%= ires_tag( path: "/image.jpg", width: 400, height: 300, mode: "resize" ) %>
<%= ires_tag( path: "/image.jpg", width: 400, height: 300, mode: "crop" ) %>
<%= ires_tag( path: "/image.jpg", width: 400, height: 300, mode: "resize_to_crop" ) %>