<h1>Toppage#index</h1>
<p>Find me in app/views/toppage/index.html.erb</p>

<style>
table th, table td { border: 1px solid; }
</style>

<table>
  <tbody>
    <tr>
      <th>Raw(raw image's width: 400)</th>
      <th>Resize</th>
      <th>Crop</th>
      <th>Resize to Crop</th>
    </tr>
    <tr>
      <td><%= image_tag('/image.jpg', style: "max-width: 400px") %></td>
      <td><%= ires_tag(path: '/image.jpg', width: 400, height: 300) %> <!-- default mode: Ires::Mode::RESIZE --></td>
      <td><%= ires_tag(path: '/image.jpg', width: 400, height: 300, mode: Ires::Mode::CROP) %></td>
      <td><%= ires_tag(path: '/image.jpg', width: 400, height: 300, mode: Ires::Mode::RESIZE_TO_CROP) %></td>
    </tr>
  </tbody>
</table>
